@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap");
@font-face {
  font-family: "goodTimes";
  src: url("../fonts/good_times.otf");
  font-display: block;
}
@font-face {
  font-family: "syne";
  src: url("../fonts/syne.ttf");
  font-display: block;
}
@font-face {
  font-family: "onam";
  src: url("../fonts/ml_tt_onam_bold.ttf");
  font-display: block;
}
@font-face {
  font-family: "teko";
  src: url("../fonts/Teko-Medium.ttf");
  font-display: block;
}
#events {
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 50%, #000000 100%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#events #events-heading {
  position: relative;
  font-family: "goodTimes", sans-serif;
  font-size: 32px;
  color: white;
  padding: 2rem 0 0 2rem;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
}
#events #events-heading.start {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
}
#events .container {
  position: relative;
  height: 100%;
}
#events #events-left-arrow,
#events #events-right-arrow {
  display: inline-block;
  position: absolute;
  z-index: 30;
  color: #ACACAC;
  background: url(../images/icons/nav-arrow.svg);
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  background-origin: content-box;
  background-position: center;
  opacity: 0.75;
  background-size: cover;
  box-sizing: content-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: opacity transform;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
#events #events-left-arrow {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#events #events-right-arrow {
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(180deg);
  -moz-transform: translate(0, -50%) rotate(180deg);
  -ms-transform: translate(0, -50%) rotate(180deg);
  transform: translate(0, -50%) rotate(180deg);
}
#events .event-card {
  left: 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform opacity;
  -webkit-transform: translate(-50%, -50%) rotate(15deg);
  -moz-transform: translate(-50%, -50%) rotate(15deg);
  -ms-transform: translate(-50%, -50%) rotate(15deg);
  transform: translate(-50%, -50%) rotate(15deg);
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0s ease 0.8s;
  top: 45%;
  height: min(112vw, 50vh);
  width: min(63vw, 28vh);
  position: absolute;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.69) 2px 2px 10px;
}
#events .event-card img {
  height: min(112vw, 50vh);
  position: relative;
  width: min(63vw, 28vh);
  object-fit: cover;
  border-radius: 20px;
}
#events .event-card .overlay {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: opacity;
  -webkit-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -moz-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.69);
  opacity: 1;
}
#events .event-card .arrow {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: opacity transform;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  display: inline-block;
  position: absolute;
  z-index: 30;
  margin: 0;
  padding: 8px;
  color: white;
  right: 0;
  top: 0;
  background: url(../images/icons/arrow.png);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  color: white;
  display: none;
  animation: arrow-movement 3s ease-in-out infinite;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
@-webkit-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@-o-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
#events .c-2 {
  z-index: 3;
  opacity: 0;
  -webkit-transform: translate(-210%, -110%) rotate(15deg);
  -moz-transform: translate(-210%, -110%) rotate(15deg);
  -ms-transform: translate(-210%, -110%) rotate(15deg);
  transform: translate(-210%, -110%) rotate(15deg);
}
#events .c-1 {
  z-index: 4;
  -webkit-transform: translate(-130%, -80%) rotate(15deg);
  -moz-transform: translate(-130%, -80%) rotate(15deg);
  -ms-transform: translate(-130%, -80%) rotate(15deg);
  transform: translate(-130%, -80%) rotate(15deg);
}
#events .c-1 .arrow {
  display: inline-block;
  opacity: 0;
}
#events .c0 {
  -webkit-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  -moz-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  -o-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  z-index: 5;
}
#events .c0 .overlay {
  opacity: 0;
}
#events .c0 .arrow {
  opacity: 1;
  display: inline-block;
}
#events .c1 {
  z-index: 4;
  -webkit-transform: translate(30%, -20%) rotate(15deg);
  -moz-transform: translate(30%, -20%) rotate(15deg);
  -ms-transform: translate(30%, -20%) rotate(15deg);
  transform: translate(30%, -20%) rotate(15deg);
}
#events .c1 .arrow {
  display: inline-block;
  opacity: 0;
}
#events .c2 {
  z-index: 3;
  opacity: 0;
  -webkit-transform: translate(110%, 10%) rotate(15deg);
  -moz-transform: translate(110%, 10%) rotate(15deg);
  -ms-transform: translate(110%, 10%) rotate(15deg);
  transform: translate(110%, 10%) rotate(15deg);
}
#events.start .c0 {
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0s ease 0.8s;
  -webkit-transform: translate(150%, -50%) rotate(75deg);
  -moz-transform: translate(150%, -50%) rotate(75deg);
  -ms-transform: translate(150%, -50%) rotate(75deg);
  transform: translate(150%, -50%) rotate(75deg);
}
#events.start #events-left-arrow {
  -webkit-transform: translate(32px, -50%);
  -moz-transform: translate(32px, -50%);
  -ms-transform: translate(32px, -50%);
  transform: translate(32px, -50%);
  opacity: 0;
}
#events.start #events-right-arrow {
  -webkit-transform: translate(-32px, -50%) rotate(180deg);
  -moz-transform: translate(-32px, -50%) rotate(180deg);
  -ms-transform: translate(-32px, -50%) rotate(180deg);
  transform: translate(-32px, -50%) rotate(180deg);
  opacity: 0;
}
#events.start .event-card:not(.c0) {
  opacity: 0;
  -webkit-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  -moz-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  -o-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  -webkit-transform: translate(-50%, -50%) rotate(15deg);
  -moz-transform: translate(-50%, -50%) rotate(15deg);
  -ms-transform: translate(-50%, -50%) rotate(15deg);
  transform: translate(-50%, -50%) rotate(15deg);
}
#events.completed .event-card,
#events.completed .c0,
#events.completed .arrow {
  -webkit-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -moz-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

/*# sourceMappingURL=events.css.map */
