@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap");
@font-face {
  font-family: "goodTimes";
  src: url("../fonts/good_times.otf");
  font-display: block;
}
@font-face {
  font-family: "onam";
  src: url("../fonts/ml_tt_onam_bold.ttf");
  font-display: block;
}
@font-face {
  font-family: "teko";
  src: url("../fonts/Teko-Medium.ttf");
  font-display: block;
}
#hero {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  background-image: url(../images/elephant-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#hero .top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
#hero .center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  -webkit-transition: transform 0.8s ease 1.2s, opacity 0.8s ease 0.5333333333s;
  -moz-transition: transform 0.8s ease 1.2s, opacity 0.8s ease 0.5333333333s;
  -o-transition: transform 0.8s ease 1.2s, opacity 0.8s ease 0.5333333333s;
  transition: transform 0.8s ease 1.2s, opacity 0.8s ease 0.5333333333s;
}
#hero .bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
#hero .edition {
  margin-top: 16px;
  font-family: "goodTimes", sans-serif;
  color: white;
}
#hero .wordmark {
  width: 30%;
}
#hero .logo {
  width: 40%;
}
#hero .dates {
  font-family: "goodTimes", sans-serif;
  color: white;
  text-align: center;
  margin-top: 16px;
}
#hero .dates .month {
  font-size: 2rem;
}
#hero .dates .days {
  font-size: 1.5rem;
}
#hero .caret {
  width: 4px;
  height: 2rem;
  background-color: #D4A50D;
  opacity: 0;
  display: inline;
  animation: blink-caret 0.75s step-end 1.6s infinite;
  /* The typewriter cursor effect */
}
@-webkit-keyframes blink-caret {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes blink-caret {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes blink-caret {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink-caret {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
#hero #tagline {
  display: inline;
  font-family: "onam", sans-serif;
  font-size: 2.5rem;
  color: #D4A50D;
  text-align: center;
  margin: 0;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
#hero #tagline.animate {
  animation: typing 3s steps(8, end) 1;
}
#hero #tagline.start-animate {
  padding-right: 0;
  animation: typing 3s steps(8, end) 1 1.6s;
}
@-webkit-keyframes typing {
  from, to {
    width: 0;
  }
  20%, 80% {
    width: 100%;
  }
}
@-moz-keyframes typing {
  from, to {
    width: 0;
  }
  20%, 80% {
    width: 100%;
  }
}
@-o-keyframes typing {
  from, to {
    width: 0;
  }
  20%, 80% {
    width: 100%;
  }
}
@keyframes typing {
  from, to {
    width: 0;
  }
  20%, 80% {
    width: 100%;
  }
}
#hero .bg-overlay-top {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.72) 45.72%, #000000 100%);
  opacity: 1;
  z-index: 3;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
#hero .elephant {
  position: absolute;
  height: 100%;
  -webkit-transform: scale(0.7) translate(-11%, -10%);
  -moz-transform: scale(0.7) translate(-11%, -10%);
  -ms-transform: scale(0.7) translate(-11%, -10%);
  transform: scale(0.7) translate(-11%, -10%);
  background-position: center;
  box-sizing: content-box;
  z-index: 1;
  opacity: 2;
  -webkit-transition: transform 0.8s ease, opacity 0.8s ease;
  -moz-transition: transform 0.8s ease, opacity 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease;
}
#hero .yellow-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(180deg, rgba(212, 165, 13, 0.8) 0%, rgba(212, 165, 13, 0) 100%);
  z-index: 1;
  -webkit-transition: transform 0.8s ease, opacity 0.8s ease;
  -moz-transition: transform 0.8s ease, opacity 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease;
}
#hero .bg-overlay-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.72) 45.72%, #000000 100%);
  opacity: 0;
  z-index: 0;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
#hero.start #tagline.start-animate {
  animation: none;
}
#hero.start .bg-overlay-top,
#hero.start .yellow-overlay {
  opacity: 0;
}
#hero.start .bg-overlay-bottom {
  opacity: 1;
}
#hero.start .top-content {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
#hero.start .center-content {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
#hero.start .caret {
  opacity: 0;
  animation: none;
}
#hero.start .elephant {
  -webkit-transform: scale(0.7) translate(-100%, -10%);
  -moz-transform: scale(0.7) translate(-100%, -10%);
  -ms-transform: scale(0.7) translate(-100%, -10%);
  transform: scale(0.7) translate(-100%, -10%);
}

/*# sourceMappingURL=hero.css.map */
