@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap");
@font-face {
  font-family: "goodTimes";
  src: url("../fonts/good_times.otf");
  font-display: block;
}
@font-face {
  font-family: "onam";
  src: url("../fonts/ml_tt_onam_bold.ttf");
  font-display: block;
}
@font-face {
  font-family: "teko";
  src: url("../fonts/Teko-Medium.ttf");
  font-display: block;
}
#proshows {
  width: 100%;
  position: relative;
  background-image: url(../images/bg-concert.png), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 25%, #000000 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-blend-mode: overlay;
}
#proshows #proshows-heading {
  position: relative;
  font-family: "goodTimes", sans-serif;
  font-size: 32px;
  color: white;
  padding: 2rem;
  z-index: 50;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  transform: translate(100px, 0);
  opacity: 0;
}
#proshows #proshows-heading.scrolled {
  transform: translate(0, 0);
  opacity: 1;
}

.proshow-card {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform;
  font-family: "goodTimes", sans-serif;
  color: white;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 1px 2px 9px -5px #D08453;
  margin: 1rem;
  display: inline-block;
  overflow: hidden;
  transform-origin: top center;
}
.proshow-card:nth-of-type(1) {
  z-index: 21;
  box-shadow: 1px 2px 9px -5px #B9926A;
  -webkit-transition: transform 0.8s ease, opacity 0.8s ease;
  -moz-transition: transform 0.8s ease, opacity 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease;
}
.proshow-card:nth-of-type(2) {
  z-index: 20;
  box-shadow: 1px 2px 9px -5px #DC1D25;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
.proshow-card:nth-of-type(3) {
  z-index: 19;
  box-shadow: 1px 2px 9px -5px #6D0355;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
.proshow-card img {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  width: 100%;
}
.proshow-card .bottom-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 22;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: opacity;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgb(0, 0, 0) 100%);
}
.proshow-card .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 50;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: opacity;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  opacity: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
}
.proshow-card h2,
.proshow-card p,
.proshow-card .arrow {
  font-family: "teko", sans-serif;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  display: inline-block;
  position: absolute;
  z-index: 30;
  margin: 0;
  padding: 16px;
  color: #ACACAC;
}
.proshow-card .arrow {
  right: 0;
  top: 0;
  background: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  animation: arrow-movement 3s ease-in-out infinite;
}
@-webkit-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@-o-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
.proshow-card p {
  right: 0;
  font-size: 20px;
  bottom: 0;
}
.proshow-card h2 {
  left: 0;
  font-size: 24px;
  bottom: 0;
}

.start .proshow-card:first-of-type {
  box-shadow: none;
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}
.start .proshow-card:first-of-type .arrow {
  -webkit-transform: translate(-20px, 20px);
  -moz-transform: translate(-20px, 20px);
  -ms-transform: translate(-20px, 20px);
  transform: translate(-20px, 20px);
  opacity: 0;
  animation: none;
}
.start .proshow-card:first-of-type h2 {
  -webkit-transform: translate(20px, -20px);
  -moz-transform: translate(20px, -20px);
  -ms-transform: translate(20px, -20px);
  transform: translate(20px, -20px);
  opacity: 0;
}
.start .proshow-card:first-of-type p {
  -webkit-transform: translate(-20px, -20px);
  -moz-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
  opacity: 0;
}
.start .proshow-card:first-of-type .bottom-overlay {
  opacity: 0;
}
.start .proshow-card:first-of-type .bg-overlay {
  opacity: 100;
}
.start .proshow-card:nth-of-type(2) {
  -webkit-transform: translate(0, calc(-100% - 2rem - 5px));
  -moz-transform: translate(0, calc(-100% - 2rem - 5px));
  -ms-transform: translate(0, calc(-100% - 2rem - 5px));
  transform: translate(0, calc(-100% - 2rem - 5px));
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.start .proshow-card:nth-of-type(3) {
  -webkit-transform: translate(0, calc(-200% - 4rem - 10px));
  -moz-transform: translate(0, calc(-200% - 4rem - 10px));
  -ms-transform: translate(0, calc(-200% - 4rem - 10px));
  transform: translate(0, calc(-200% - 4rem - 10px));
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

/*# sourceMappingURL=proshows.css.map */
