@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap");
@font-face {
  font-family: "goodTimes";
  src: url("/fonts/good_times.otf");
}
#proshows {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(../images/bg-concert.png), linear-gradient(180deg, #000000 0.76%, rgba(0, 0, 0, 0.81) 18.75%, #000000 96.01%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-blend-mode: overlay;
}
#proshows h1 {
  position: absolute;
  font-family: "goodTimes", sans-serif;
  font-size: 32px;
  color: white;
  padding: 1rem;
}

.proshow-card {
  font-family: "goodTimes", sans-serif;
  color: white;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 1px 2px 9px -5px #D08453;
  margin: 1rem;
  display: inline-block;
  overflow: hidden;
  transition: all 0.8s ease;
  transform-origin: top center;
}
.proshow-card:nth-of-type(1) {
  z-index: 20;
}
.proshow-card:nth-of-type(2) {
  z-index: 19;
}
.proshow-card:not(:first-of-type) {
  transition: all 0.8s ease 0.8s;
}
.proshow-card img {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  width: 100%;
}
.proshow-card .bottom-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 50;
  border-radius: 20px;
  transition: all 0.8s ease 0.8s;
  opacity: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 8.33%, #000000 100%);
}
.proshow-card .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  border-radius: 20px;
  transition: all 0.8s ease;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
}
.proshow-card h2,
.proshow-card p,
.proshow-card .arrow {
  transition: all 0.8s ease 0.8s;
  display: inline-block;
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 16px;
  color: #ACACAC;
}
.proshow-card .arrow {
  right: 0;
  top: 0;
  background: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
}
.proshow-card p {
  right: 0;
  font-size: 16px;
  bottom: 0;
}
.proshow-card h2 {
  left: 0;
  font-size: 20px;
  bottom: 0;
}

.start h1 {
  opacity: 0;
}
.start .proshow-card:first-of-type {
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  transform: scale(3);
}
.start .proshow-card:first-of-type img {
  border-radius: 0;
}
.start .proshow-card:first-of-type h2,
.start .proshow-card:first-of-type p,
.start .proshow-card:first-of-type .arrow {
  opacity: 0;
  padding: 40px;
}
.start .proshow-card:first-of-type .bottom-overlay {
  opacity: 0;
}
.start .proshow-card:first-of-type .bg-overlay {
  opacity: 100;
}
.start .proshow-card:nth-of-type(2) {
  transform: translate(0, calc(-100% - 2rem - 5px));
}
.start .proshow-card:nth-of-type(3) {
  transform: translate(0, calc(-200% - 4rem - 10px));
}

/*# sourceMappingURL=proshows.css.map */
