@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap");
@font-face {
  font-family: "goodTimes";
  src: url("../fonts/good_times.otf");
  font-display: block;
}
@font-face {
  font-family: "onam";
  src: url("../fonts/ml_tt_onam_bold.ttf");
  font-display: block;
}
@font-face {
  font-family: "teko";
  src: url("../fonts/Teko-Medium.ttf");
  font-display: block;
}
#proshows {
  width: 100%;
  perspective: 10000px;
  position: relative;
  background-image: url(../images/bg-concert.png), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 25%, #000000 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-blend-mode: overlay;
}
#proshows #proshows-heading {
  position: absolute;
  font-family: "goodTimes", sans-serif;
  font-size: 32px;
  color: white;
  padding-left: 2rem;
  z-index: 50;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  opacity: 0;
}
#proshows #proshows-heading.scrolled {
  transform: translate(0, -50px);
  opacity: 1;
}

.proshow-card {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform;
  font-family: "goodTimes", sans-serif;
  color: white;
  position: relative;
  display: inline-block;
  margin: 1rem;
  transform-origin: top center;
  transform-style: preserve-3d;
}
.proshow-card .front,
.proshow-card .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  box-shadow: 1px 2px 9px -5px #D08453;
}
.proshow-card .back {
  transform: rotateY(-180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 16px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.proshow-card .back .return {
  float: right;
  align-self: flex-end;
  background: url(../images/icons/return.svg);
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  color: white;
  z-index: 30;
  margin-bottom: 8px;
  color: white;
}
.proshow-card .back p {
  font-family: "teko", sans-serif;
  position: relative;
  font-size: 16px;
  color: white;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.proshow-card .back .buy-ticket {
  margin-top: 16px;
  padding: 8px;
  align-self: center;
}
.proshow-card .back .buy-ticket:hover {
  background: transparent;
}
.proshow-card:nth-of-type(1) {
  z-index: 21;
  -webkit-transition: transform 0.8s ease, opacity 0.8s ease;
  -moz-transition: transform 0.8s ease, opacity 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease;
}
.proshow-card:nth-of-type(1) .front,
.proshow-card:nth-of-type(1) .back {
  box-shadow: 1px 2px 9px -3px #017FBF;
}
.proshow-card:nth-of-type(1) .buy-ticket {
  background: #017FBF;
}
.proshow-card:nth-of-type(1) .buy-ticket:hover {
  color: #017FBF;
  border: 1px solid #017FBF;
}
.proshow-card:nth-of-type(2) {
  z-index: 20;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
.proshow-card:nth-of-type(2) .front,
.proshow-card:nth-of-type(2) .back {
  box-shadow: 1px 2px 9px -3px #DC1D25;
}
.proshow-card:nth-of-type(2) .buy-ticket {
  background: #DC1D25;
}
.proshow-card:nth-of-type(2) .buy-ticket:hover {
  color: #DC1D25;
  border: 1px solid #DC1D25;
}
.proshow-card:nth-of-type(3) {
  z-index: 19;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
}
.proshow-card:nth-of-type(3) .front,
.proshow-card:nth-of-type(3) .back {
  box-shadow: 1px 2px 9px -3px #6D0355;
}
.proshow-card:nth-of-type(3) .buy-ticket {
  background: #6D0355;
}
.proshow-card:nth-of-type(3) .buy-ticket:hover {
  color: #6D0355;
  border: 1px solid #6D0355;
}
.proshow-card.clicked .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.proshow-card.clicked .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.proshow-card img {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  width: 100%;
}
.proshow-card .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  z-index: 50;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: opacity;
  -webkit-transition: transform 0.8s ease, opacity 0.8s ease;
  -moz-transition: transform 0.8s ease, opacity 0.8s ease;
  -o-transition: transform 0.8s ease, opacity 0.8s ease;
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
}
.proshow-card .arrow {
  font-family: "teko", sans-serif;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
  -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.8s;
  display: inline-block;
  position: absolute;
  z-index: 30;
  margin: 0;
  padding: 8px;
  color: white;
  right: 0;
  top: 0;
  background: url(../images/icons/arrow.png);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  background-origin: content-box;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  color: white;
  animation: arrow-movement 3s ease-in-out infinite;
}
@-webkit-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@-moz-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@-o-keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}
@keyframes arrow-movement {
  30% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  70% {
    transform: translate(0, 0);
  }
}

.start .proshow-card:first-of-type {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}
.start .proshow-card:first-of-type .front,
.start .proshow-card:first-of-type .back {
  box-shadow: none;
}
.start .proshow-card:first-of-type .arrow {
  -webkit-transform: translate(-20px, 20px);
  -moz-transform: translate(-20px, 20px);
  -ms-transform: translate(-20px, 20px);
  transform: translate(-20px, 20px);
  opacity: 0;
  animation: none;
}
.start .proshow-card:first-of-type .bg-overlay {
  opacity: 100;
}
.start .proshow-card:nth-of-type(2) {
  -webkit-transform: translate(0, calc(-100% - 2rem + 5px));
  -moz-transform: translate(0, calc(-100% - 2rem + 5px));
  -ms-transform: translate(0, calc(-100% - 2rem + 5px));
  transform: translate(0, calc(-100% - 2rem + 5px));
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.start .proshow-card:nth-of-type(3) {
  -webkit-transform: translate(0, calc(-200% - 4rem + 5px));
  -moz-transform: translate(0, calc(-200% - 4rem + 5px));
  -ms-transform: translate(0, calc(-200% - 4rem + 5px));
  transform: translate(0, calc(-200% - 4rem + 5px));
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

/*# sourceMappingURL=proshows.css.map */
