@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap");
@font-face {
  font-family: "goodTimes";
  src: url("../fonts/good_times.otf");
  font-display: block;
}
@font-face {
  font-family: "syne";
  src: url("../fonts/syne.ttf");
  font-display: block;
}
@font-face {
  font-family: "onam";
  src: url("../fonts/ml_tt_onam_bold.ttf");
  font-display: block;
}
@font-face {
  font-family: "teko";
  src: url("../fonts/Teko-Medium.ttf");
  font-display: block;
}
#schedule {
  z-index: 20;
  width: 100%;
  position: relative;
}
#schedule #schedule-heading {
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  font-family: "goodTimes", sans-serif;
  font-size: 32px;
  color: white;
  padding-left: 2rem;
  z-index: 50;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#schedule #schedule-heading.start {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
}
#schedule #schedule-content-container {
  z-index: 20;
  position: relative;
}
#schedule #schedule-content-container .schedule-content * {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
  -webkit-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s, opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  -moz-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s, opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  -o-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s, opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
  transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s, opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.8s;
}
#schedule #schedule-content-container .selected *:nth-child(1) {
  transition-delay: 0.8s;
}
#schedule #schedule-content-container .selected *:nth-child(2) {
  transition-delay: 0.85s;
}
#schedule #schedule-content-container .selected *:nth-child(3) {
  transition-delay: 0.9s;
}
#schedule #schedule-content-container .selected *:nth-child(4) {
  transition-delay: 0.95s;
}
#schedule #schedule-content-container .selected *:nth-child(5) {
  transition-delay: 1s;
}
#schedule #schedule-content-container .selected *:nth-child(6) {
  transition-delay: 1.05s;
}
#schedule #schedule-content-container .selected *:nth-child(7) {
  transition-delay: 1.1s;
}
#schedule #schedule-content-container .selected *:nth-child(8) {
  transition-delay: 1.15s;
}
#schedule #schedule-content-container .selected *:nth-child(9) {
  transition-delay: 1.2s;
}
#schedule #schedule-content-container .selected *:nth-child(10) {
  transition-delay: 1.25s;
}
#schedule #schedule-content-container .selected *:nth-child(11) {
  transition-delay: 1.3s;
}
#schedule #schedule-content-container .selected *:nth-child(12) {
  transition-delay: 1.35s;
}
#schedule #schedule-content-container .selected *:nth-child(13) {
  transition-delay: 1.4s;
}
#schedule #schedule-content-container .selected *:nth-child(14) {
  transition-delay: 1.45s;
}
#schedule #schedule-content-container .selected *:nth-child(15) {
  transition-delay: 1.5s;
}
#schedule #schedule-content-container .selected *:nth-child(16) {
  transition-delay: 1.55s;
}
#schedule #schedule-content-container .selected *:nth-child(17) {
  transition-delay: 1.6s;
}
#schedule #schedule-content-container .selected *:nth-child(18) {
  transition-delay: 1.65s;
}
#schedule #schedule-content-container .selected *:nth-child(19) {
  transition-delay: 1.7s;
}
#schedule #schedule-content-container .selected *:nth-child(20) {
  transition-delay: 1.75s;
}
#schedule #schedule-content-container.s1 #d1 {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#schedule #schedule-content-container.s1 #d2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
#schedule #schedule-content-container.s1 #d3 {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
}
#schedule #schedule-content-container.s2 #d1 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
#schedule #schedule-content-container.s2 #d2 {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#schedule #schedule-content-container.s2 #d3 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
#schedule #schedule-content-container.s3 #d1 {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  transform: translateX(-200%);
}
#schedule #schedule-content-container.s3 #d2 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
#schedule #schedule-content-container.s3 #d3 {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#schedule #schedule-content-container.start .selected * {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -moz-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8), opacity 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  opacity: 0;
}
#schedule #schedule-day-container {
  display: flex;
  padding: 1rem;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform;
  -webkit-transition: transform 0.4s ease 0.4s;
  -moz-transition: transform 0.4s ease 0.4s;
  -o-transition: transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s;
}
#schedule #schedule-day-container.start {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: transform 0.8s ease;
  -moz-transition: transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
}
#schedule .mask {
  position: absolute;
  height: 3rem;
  width: 100%;
  z-index: 10;
  background-color: black;
}
#schedule .schedule-day {
  flex: 1;
  position: relative;
  font-family: "goodTimes", sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
}
#schedule .schedule-day.start {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}
#schedule .schedule-day.selected {
  color: #D4A50D;
}
#schedule .line-container {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
#schedule #line {
  height: 2px;
  box-sizing: border-box;
  width: calc((100% - 2rem) / 3);
  border-radius: 2px;
  background-color: #D4A50D;
  margin: 0 1rem 0 1rem;
  align-items: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
  -webkit-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -moz-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transform-origin: center;
  animation: grow-and-srink 1.6s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
@keyframes grow-and-srink {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(3);
  }
}
#schedule #line.d1 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
#schedule #line.d2 {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#schedule #line.d3 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
#schedule #line.start {
  scale: 0;
  animation: none;
  -webkit-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -moz-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
#schedule .schedule-item {
  display: flex;
  position: relative;
  font-family: "teko", sans-serif;
  font-size: 24px;
  color: white;
  padding: 1rem;
}
#schedule .schedule-item .title {
  flex: 1;
}
#schedule .schedule-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform;
  -webkit-transition: transform 0.8s ease;
  -moz-transition: transform 0.8s ease;
  -o-transition: transform 0.8s ease;
  transition: transform 0.8s ease;
}
#schedule .schedule-content hr {
  border-bottom: 1px solid grey;
  margin: 0px 20px 0px 20px;
}
#schedule .schedule-content.tallest {
  position: relative;
}

/*# sourceMappingURL=schedule.css.map */
