@import url("https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap");
@font-face {
  font-family: "goodTimes";
  src: url("../fonts/good_times.otf");
  font-display: block;
}
@font-face {
  font-family: "syne";
  src: url("../fonts/syne.ttf");
  font-display: block;
}
@font-face {
  font-family: "onam";
  src: url("../fonts/ml_tt_onam_bold.ttf");
  font-display: block;
}
@font-face {
  font-family: "teko";
  src: url("../fonts/Teko-Medium.ttf");
  font-display: block;
}
#schedule {
  z-index: 20;
  width: 100%;
  perspective: 10000px;
  position: relative;
  background-image: url(../images/bg-concert.webp), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 25%, #000000 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-blend-mode: overlay;
}
#schedule #schedule-heading {
  margin-top: 100px;
  position: relative;
  font-family: "goodTimes", sans-serif;
  font-size: 32px;
  color: white;
  padding-left: 2rem;
  z-index: 50;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
  -webkit-transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -moz-transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
#schedule #schedule-heading.start {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
}
#schedule #schedule-content-container {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
  -webkit-transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -moz-transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
#schedule #schedule-content-container.start {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
}
#schedule .schedule-day-container {
  display: flex;
}
#schedule .schedule-day {
  flex: 1;
  position: relative;
  font-family: "goodTimes", sans-serif;
  font-size: 16px;
  color: white;
  padding: 1rem;
  text-align: center;
}
#schedule .schedule-day.start {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}
#schedule #line {
  height: 1px;
  background-color: red;
  margin: 10px 20px 0px 20px;
  align-items: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  /* Other transform properties here */
  will-change: transform, opacity;
  -webkit-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -moz-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -o-transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: center;
}
#schedule #line.start {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  opacity: 1;
}
#schedule #line.shrink {
  -webkit-transform: scaleX(0.33) translate(-100%);
  -moz-transform: scaleX(0.33) translate(-100%);
  -ms-transform: scaleX(0.33) translate(-100%);
  transform: scaleX(0.33) translate(-100%);
}
#schedule .schedule-item {
  display: flex;
  position: relative;
  font-family: "teko", sans-serif;
  font-size: 24px;
  color: white;
  padding: 1rem;
}
#schedule .schedule-item .title {
  flex: 1;
}
#schedule .schedule-content {
  position: absolute;
  width: 100%;
  opacity: 0;
}
#schedule .schedule-content hr {
  border-bottom: 1px solid grey;
  margin: 0px 20px 0px 20px;
}
#schedule .schedule-content.selected {
  position: relative;
  opacity: 1;
}

/*# sourceMappingURL=schedule.css.map */
