@import url('https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap');

@font-face {
    font-family: "goodTimes";
    src: url("/fonts/good_times.otf");
}

// fonts
$goodTimes: 'goodTimes', sans-serif;