@import url('https://fonts.googleapis.com/css?family=Anton|Monoton|Muli:400,400i,500,500i,600&display=swap');

@font-face {
    font-family: "goodTimes";
    src: url("../fonts/good_times.otf");
    font-display: block;
}

@font-face {
    font-family: "syne";
    src: url("../fonts/syne.ttf");
    font-display: block;
}

@font-face {
    font-family: "onam";
    src: url("../fonts/ml_tt_onam_bold.ttf");
    font-display: block;
}

@font-face {
    font-family: "teko";
    src: url("../fonts/Teko-Medium.ttf");
    font-display: block;
}

// fonts
$goodTimes: 'goodTimes', sans-serif;
$onam: 'onam', sans-serif;
$teko: 'teko', sans-serif;
$syne: 'syne', sans-serif;

// colors
$primary: #D4A50D;

// timing functions
$cubicBezier: cubic-bezier(.47, 1.64, .41, .8);