@import "variables";
@import "mixins";

#hero {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    background-image: url(../images/elephant-bg.png), linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.72) 45.72%, #000000 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .top-content,
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bottom-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .edition {
        margin-top: 16px;
        font-family: $goodTimes;
        color: white;
    }

    .wordmark {
        width: 30%;
    }

    .logo {
        width: 40%;
    }

    .dates {
        font-family: $goodTimes;
        color: white;
        text-align: center;
        margin-top: 16px;


        .month {
            font-size: 2rem;
        }

        .days {
            font-size: 1.5rem;
        }
    }

    .caret {
        width: 4px;
        height: 2rem;
        background-color: $primary;
        display: inline;
        animation: blink-caret .75s step-end infinite;

        /* The typewriter cursor effect */
        @include keyframes(blink-caret) {

            from,
            to {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }
        }
    }

    #tagline {
        display: inline;
        font-family: $onam;
        font-size: 2.5rem;
        color: $primary;
        text-align: center;
        margin: 0;
        padding-right: 8px;
        white-space: nowrap;
        overflow: hidden;
        width: 0;

        &.animate {
            animation: typing 3s steps(8, end) 1;
        }

        @include keyframes(typing) {

            from,
            to {
                width: 0
            }

            20%,
            80% {
                width: 100%
            }
        }
    }
}