@import "variables";
@import "mixins";

$duration: 0.8s;
$heroTransition1: transform $duration ease, opacity $duration ease;
$heroTransition2: transform $duration ease $duration, opacity $duration ease $duration;
$heroTransition3: transform $duration ease #{calc($duration / 2)* 3};


#hero {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    background-image: url(../images/elephant-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        @include transition($heroTransition2);
    }

    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        @include transition($heroTransition3);
    }

    .bottom-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }

    .edition {
        margin-top: 16px;
        font-family: $goodTimes;
        color: white;
    }

    .wordmark {
        width: 30%;
    }

    .logo {
        width: 40%;
    }

    .dates {
        font-family: $goodTimes;
        color: white;
        text-align: center;
        margin-top: 16px;


        .month {
            font-size: 2rem;
        }

        .days {
            font-size: 1.5rem;
        }
    }

    .caret {
        width: 4px;
        height: 2rem;
        background-color: $primary;
        opacity: 0;
        display: inline;
        animation: blink-caret .75s step-end #{$duration * 2} infinite;

        /* The typewriter cursor effect */
        @include keyframes(blink-caret) {

            from,
            to {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }
        }
    }

    #tagline {
        display: inline;
        font-family: $onam;
        font-size: 2.5rem;
        color: $primary;
        text-align: center;
        margin: 0;
        padding-right: 8px;
        white-space: nowrap;
        overflow: hidden;
        width: 0;

        &.animate {
            animation: typing 3s steps(8, end) 1;
        }

        &.start-animate {
            padding-right: 0;
            // delay of 2x duration
            animation: typing 3s steps(8, end) 1 #{$duration * 2};
        }

        @include keyframes(typing) {

            from,
            to {
                width: 0
            }

            20%,
            80% {
                width: 100%
            }
        }
    }

    .bg-overlay-top {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.72) 45.72%, #000000 100%);
        opacity: 1;
        z-index: 3;
        @include transition($heroTransition2);
    }

    .elephant {
        position: absolute;
        height: max(100vh, 100vw * 1.5);
        @include transform(scale(0.7) translate(-11%, -10%));
        background-position: center;
        box-sizing: content-box;
        z-index: 1;
        opacity: 2;
        @include transition($heroTransition1);

    }

    .yellow-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: linear-gradient(180deg, rgba(212, 165, 13, 0.8) 0%, rgba(212, 165, 13, 0) 100%);
        z-index: 1;
        @include transition($heroTransition1);
    }

    .bg-overlay-bottom {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.72) 45.72%, #000000 100%);
        opacity: 0;
        z-index: 0;
        @include transition($heroTransition2);

    }

    &.start {
        #tagline.start-animate {
            animation: none;
        }

        .bg-overlay-top,
        .yellow-overlay {
            opacity: 0;
        }

        .bg-overlay-bottom {
            opacity: 1;
        }

        .top-content {
            @include transform(translate(100%, 0));
        }


        .center-content {
            @include transform(translate(100%, 0));
        }

        .caret {
            opacity: 0;
            animation: none;
        }

        .elephant {
            @include transform(scale(0.7) translate(-100%, -10%))
        }
    }
}