@import "variables";

$proshowTransition1: all 0.5s ease;
$proshowTransition2: all 0.5s ease 0.5s;

$proshowCardMargin: 1rem;

#proshows {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../images/bg-concert.png), linear-gradient(180deg, #000000 0.76%, rgba(0, 0, 0, 0.81) 18.75%, #000000 96.01%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-blend-mode: overlay;


    h1 {
        position: absolute;
        font-family: $goodTimes;
        font-size: 32px;
        color: white;
        padding: 1rem;
    }
}

.proshow-card {
    font-family: $goodTimes;
    color: white;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 2px 9px -5px #D08453;
    margin: $proshowCardMargin;
    display: inline-block;
    overflow: hidden;
    transition: $proshowTransition1;
    transform-origin: top center;

    &:nth-of-type(1) {
        z-index: 20;
    }

    &:nth-of-type(2) {
        z-index: 19;
    }

    &:not(:first-of-type) {
        transition: $proshowTransition2;
    }

    img {
        position: relative;
        z-index: 1;
        border-radius: 20px;
        width: 100%;
    }

    .bottom-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
        border-radius: 20px;
        transition: $proshowTransition2;
        opacity: 100;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 8.33%, #000000 100%);
    }

    .bg-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
        border-radius: 20px;
        opacity: 0;
        transition: $proshowTransition1;
        background: linear-gradient(180deg, #000000 0.76%, rgba(0, 0, 0, 0) 51.04%, #000000 96.01%);
    }

    h2,
    p,
    .arrow {
        transition: $proshowTransition2;
        display: inline-block;
        position: absolute;
        z-index: 10;
        margin: 0;
        padding: 16px;
        color: #ACACAC;
    }

    .arrow {
        right: 0;
        top: 0;
        background: url(../images/icons/arrow.svg);
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        background-origin: content-box;
        background-position: center;
        background-size: cover;
        box-sizing: content-box;
    }

    p {
        right: 0;
        font-size: 16px;
        bottom: 0;

    }

    h2 {
        left: 0;
        font-size: 20px;
        bottom: 0;

    }
}

.start {
    h1 {
        opacity: 0;
    }

    .proshow-card:first-of-type {
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        transform: scale(3);

        img {
            border-radius: 0;
        }

        h2,
        p,
        .arrow {
            opacity: 0;
            padding: 40px;
        }

        .bottom-overlay {
            opacity: 0;
        }

        .bg-overlay {
            opacity: 100;
        }
    }


    .proshow-card:nth-of-type(2) {
        transform: translate(0, calc(-100% - #{$proshowCardMargin * 2} - 5px));
    }

    .proshow-card:nth-of-type(3) {
        transform: translate(0, calc(-200% - #{$proshowCardMargin * 4} - 10px));
    }
}