@import "variables";
@import "mixins";

$duration: 0.8s;

$proshowTransition1: transform $duration ease, opacity $duration ease;
$proshowTransition2: transform $duration ease $duration, opacity $duration ease $duration;

$proshowCardMargin: 1rem;

#proshows {
    width: 100%;
    position: relative;
    background-image: url(../images/bg-concert.png), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 25%, #000000 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-blend-mode: overlay;


    #proshows-heading {
        position: absolute;
        font-family: $goodTimes;
        font-size: 32px;
        color: white;
        padding: 2rem;
        z-index: 1;
        @include hardware-acceleration;
        @include transition(all 0.8s ease);

        &.scrolled {
            transform: translate(0, -100px);
        }
    }
}

.proshow-card {
    @include hardware-acceleration;
    font-family: $goodTimes;
    color: white;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 2px 9px -5px #D08453;
    margin: $proshowCardMargin;
    display: inline-block;
    overflow: hidden;
    transform-origin: top center;


    &:nth-of-type(1) {
        z-index: 21;
        box-shadow: 1px 2px 9px -5px #B9926A;
        @include transition($proshowTransition1);
    }

    &:nth-of-type(2) {
        z-index: 20;
        box-shadow: 1px 2px 9px -5px #B9926A;
        @include transition($proshowTransition2);
    }

    &:nth-of-type(3) {
        z-index: 19;
        box-shadow: 1px 2px 9px -5px #5698B0;
        @include transition($proshowTransition2);
    }

    img {
        position: relative;
        z-index: 1;
        border-radius: 20px;
        width: 100%;
    }

    .bottom-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 22;
        border-radius: 20px;
        @include hardware-acceleration;
        @include transition($proshowTransition2);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, #000000 100%);
    }

    .bg-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 50;
        border-radius: 20px;
        @include hardware-acceleration;
        @include transition($proshowTransition2);
        opacity: 0;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
    }

    h2,
    p,
    .arrow {
        @include hardware-acceleration;
        @include transition($proshowTransition2);
        display: inline-block;
        position: absolute;
        z-index: 30;
        margin: 0;
        padding: 16px;
        color: #ACACAC;
    }

    .arrow {
        right: 0;
        top: 0;
        background: url(../images/icons/arrow.svg);
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        background-origin: content-box;
        background-position: center;
        background-size: cover;
        box-sizing: content-box;
    }

    p {
        right: 0;
        font-size: 16px;
        bottom: 0;

    }

    h2 {
        left: 0;
        font-size: 20px;
        bottom: 0;

    }
}

.start {
    .proshow-card:first-of-type {
        box-shadow: none;
        transform: scale(3);

        img {
            border-radius: 0;
        }

        .arrow {
            transform: translate(-20px, 20px);
            opacity: 0;
        }

        h2 {
            transform: translate(20px, -20px);
            opacity: 0;
        }

        p {
            transform: translate(-20px, -20px);
            opacity: 0;
        }

        .bottom-overlay {
            opacity: 0;
        }

        .bg-overlay {
            opacity: 100;
        }
    }


    .proshow-card:nth-of-type(2) {
        @include transform(translate(0, calc(-100% - #{$proshowCardMargin * 2} - 5px)));
    }

    .proshow-card:nth-of-type(3) {
        @include transform(translate(0, calc(-200% - #{$proshowCardMargin * 4} - 10px)));
    }
}