@import "variables";
@import "mixins";

$duration: 0.8s;
$proshowTransition1: transform $duration ease, opacity $duration ease;
$proshowTransition2: transform $duration ease $duration,
  opacity $duration ease $duration;

$proshowCardMargin: 1rem;

#schedule {
  z-index: 20;
  width: 100%;
  perspective: 10000px;
  position: relative;
  background-image: url(../images/bg-concert.webp),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.8) 25%, #000000 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-blend-mode: overlay;

  #schedule-heading {
    margin-top: 100px;
    position: relative;
    font-family: $goodTimes;
    font-size: 32px;
    color: white;
    padding-left: 2rem;
    z-index: 50;
    @include hardware-acceleration;
    will-change: transform, opacity;
    @include transition(all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8));
    &.start {
      @include transform(translateX(100px));
      opacity: 0;
    }
  }
  #schedule-content-container {
    @include hardware-acceleration;
    will-change: transform, opacity;
    @include transition(all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8));
    &.start {
      @include transform(translateX(100px));
      opacity: 0;
    }
  }

  .schedule-day-container {
    display: flex;
  }
  .schedule-day {
    flex: 1;
    position: relative;
    font-family: $goodTimes;
    font-size: 16px;
    color: white;
    padding: 1rem;
    text-align: center;
    &.start {
      @include transform(translateY(100px));
      opacity: 0;
    }
  }
  #line {
    height: 1px; 
    background-color: red; 
    margin: 10px 20px 0px 20px;
    align-items: center;
    @include hardware-acceleration;
    will-change: transform, opacity;
    @include transition(all 0.95s cubic-bezier(0.47, 1.64, 0.41, 0.8));
    @include transform(scaleX(1));
    transform-origin: center; 
    &.start {
      @include transform(scaleX(0));
      opacity: 1;
    }
    &.shrink {
      @include transform(scaleX(0.33)  translate(-100%));
    }
  }
  
  
  .schedule-item {
    display: flex;
    position: relative;
    font-family: $teko;
    font-size: 24px;
    color: white;
    padding: 1rem;
    .title {
      flex: 1;
    }
  }

  .schedule-content {
    position: absolute;
    width: 100%;
    opacity: 0;
    hr {
      border-bottom: 1px solid grey;
      margin: 0px 20px 0px 20px;
    }
    &.selected {
      position: relative;
      opacity: 1;
    }
  }
}
