@import "variables";

html,
body {
    overflow-x: hidden;
    background-color: #000000;
    font-family: $goodTimes;
    max-width: 100%;
    overflow-x: hidden;
}

*:hover {
    transition: all 0.1s ease 0s;
}